# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

# pycache
__pycache__

# virtualenv
.venv/
venv/
env/

# PyCharm Settings
.ideave

# VS Code Settings
.vscode

# ignore image files uploaded by photogram user
**/uploads/*.png
**/uploads/*.jpg