<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>{{title}}</title>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    </head>
    
    <body>

            <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">My First App</a>
            </nav>


            <div class="jumbotron">
                <p>
                <a class="btn btn-success" href="/register" role="button">Register</a>
                <a class="btn btn-primary" href="" role="button">Log In</a>
                </p>

                {% block content %} {% endblock %}

            </div>
    
    
    
            <footer class="footer">
                <div class="container text-center">
                    <p>&copy; My First App </p>
                </div>
            </footer>
    
    </body>
    
</html>
