{% extends "base.html" %}

{% block nav %}
<i class="navbar-brand">Hi, {{user}}</i>
<a href='/logout'>[Log Out]</a><br>
{% endblock %}

{% block content %}
{% include "flash.html" %}

{% from "_formhelpers.html" import render_field %}

<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/myevents">My Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/new_event">{{title}}</a>
  </li>
  {% if session['admin'] %}
  <li class="nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
  {% endif %}
</ul>


<form class="form" method="post" action="/new_event" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
  <div class="form-row">
      <div class="col-md-4 mb-3">
        {{ render_field(form.title,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3">
      {{ render_field(form.start_date,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3">
      {{ render_field(form.end_date,class='form-control') }}
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-4 mb-3">
        {{ render_field(form.category,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3">
      {{ render_field(form.venue,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3">
      {{ render_field(form.cost,class='form-control') }}
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-4 mb-3">
        {{ render_field(form.description,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3">
        {{ render_field(form.flyer,class='form-control') }}
      </div>
      <div class="col-md-4 mb-3 d-flex align-items-end">
        <p><input class="btn btn-primary" type="submit" value="Create"></p>
      </div>

  </div>
</form>

{% endblock %}
