{% extends "base.html" %}

{% block content %}
{% include "flash.html" %}

{% from "_formhelpers.html" import render_field %}
<h3>{{title}}</h3>

<form class="form" method="post" action="/register">
    {{ form.hidden_tag() }}
    <dl>
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
    </dl>
    <p><input type="submit" value="Register"></p>

</form>

{% endblock %}