{% extends "base.html" %}

{% block nav %}
<i class="navbar-brand">Hi, {{user}}</i>
<a href='/logout'>[Log Out]</a><br>
{% endblock %}

{% block content %}
{% include "flash.html" %}


<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/myevents">{{title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_event">Create An Event</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
</ul>



{% if events %}
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Flyer</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Details</th>
        <th scope="col">Visible</th>
      </tr>
    </thead>
    {% for e in events %}
    <tr>
      <th>{{e.flyer}}</th>

      <th>
        Title : {{e.title}}<br>
        Creator : {{e.user_id}}<br>
        Description : {{e.description}}<br>
      </th>

      <th>
        Start : {{start_date}}<br>
        End : {{end_date}}<br>
      </th>
      <th>
        Venue : {{venue}}<br>
        Cost : {{cost}}<br>
      </th>

      <th>{{e.visibility}} <button type="button" class="btn btn-secondary btn-sm" disabled> Change</button></th>

    </tr>
    {% endfor %}
    <hr>
    </table>
{% else %}
    <p>There are no events</p>

{% endif %}

{% endblock %}
